.animate-in {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-ins {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in1 {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in1s {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in2 {
    -webkit-transition: all 0.6s ease-in-out 0.4s;
    -moz-transition: all 0.6s ease-in-out 0.4s;
    transition: all 0.6s ease-in-out 0.4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in2s {
    -webkit-transition: all 0.6s ease-in-out 0.4s;
    -moz-transition: all 0.6s ease-in-out 0.4s;
    transition: all 0.6s ease-in-out 0.4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in3 {
    -webkit-transition: all 0.6s ease-in-out 0.6s;
    -moz-transition: all 0.6s ease-in-out 0.6s;
    transition: all 0.6s ease-in-out 0.6s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in4 {
    -webkit-transition: all 0.6s ease-in-out 0.8s;
    -moz-transition: all 0.6s ease-in-out 0.8s;
    transition: all 0.6s ease-in-out 0.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.animate-in5 {
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out 0.8s;
    -moz-transition: all 0.6s ease-in-out 0.8s;
    transition: all 0.6s ease-in-out 0.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.pre-animate {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    transform: translateX(50px);
}

.pre-animate1 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.pre-animate2 {
    opacity: 1;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
}

.animate-mirab {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate1 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab2 {
    -webkit-transition: all 0.6s ease-in-out 0.4s;
    -moz-transition: all 0.6s ease-in-out 0.4s;
    transition: all 0.6s ease-in-out 0.4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate2 {
    opacity: 1;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01)
}

.animate-mirab3 {
    -webkit-transition: all 0.6s ease-in-out 0.9s;
    -moz-transition: all 0.6s ease-in-out 0.9s;
    transition: all 0.6s ease-in-out 0.9s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate3 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.animate-mirab4 {
    -webkit-transition: all 0.6s ease-in-out 0.6s;
    -moz-transition: all 0.6s ease-in-out 0.6s;
    transition: all 0.6s ease-in-out 0.6s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate4 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab5 {
    -webkit-transition: all 0.6s ease-in-out 1s;
    -moz-transition: all 0.6s ease-in-out 1s;
    transition: all 0.6s ease-in-out 1s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate5 {
    opacity: 1;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01)
}

.animate-mirab6 {
    -webkit-transition: all 0.6s ease-in-out 1.3s;
    -moz-transition: all 0.6s ease-in-out 1.3s;
    transition: all 0.6s ease-in-out 1.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate6 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.animate-mirab7 {
    -webkit-transition: all 0.6s ease-in-out 1.9s;
    -moz-transition: all 0.6s ease-in-out 1.9s;
    transition: all 0.6s ease-in-out 1.9s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate7 {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
}

.animate-mirab8 {
    -webkit-transition: all 0.6s ease-in-out 2.2s;
    -moz-transition: all 0.6s ease-in-out 2.2s;
    transition: all 0.6s ease-in-out 2.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate8 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab9 {
    -webkit-transition: all 0.6s ease-in-out 2.5s;
    -moz-transition: all 0.6s ease-in-out 2.5s;
    transition: all 0.6s ease-in-out 2.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate9 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab10 {
    -webkit-transition: all 0.6s ease-in-out 2.8s;
    -moz-transition: all 0.6s ease-in-out 2.8s;
    transition: all 0.6s ease-in-out 2.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate10 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.animate-mirab11 {
    -webkit-transition: all 0.6s ease-in-out 3.2s;
    -moz-transition: all 0.6s ease-in-out 3.2s;
    transition: all 0.6s ease-in-out 3.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate11 {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
}

.animate-mirab12 {
    -webkit-transition: all 0.6s ease-in-out 3.5s;
    -moz-transition: all 0.6s ease-in-out 3.5s;
    transition: all 0.6s ease-in-out 3.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate12 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab13 {
    -webkit-transition: all 0.6s ease-in-out 3.8s;
    -moz-transition: all 0.6s ease-in-out 3.8s;
    transition: all 0.6s ease-in-out 3.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate13 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab14 {
    -webkit-transition: all 0.6s ease-in-out 4.1s;
    -moz-transition: all 0.6s ease-in-out 4.1s;
    transition: all 0.6s ease-in-out 4.1s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate14 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.animate-mirab15 {
    -webkit-transition: all 0.6s ease-in-out 4.4s;
    -moz-transition: all 0.6s ease-in-out 4.4s;
    transition: all 0.6s ease-in-out 4.4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate15 {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
}

.animate-mirab16 {
    -webkit-transition: all 0.6s ease-in-out 4.8s;
    -moz-transition: all 0.6s ease-in-out 4.8s;
    transition: all 0.6s ease-in-out 4.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate16 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab17 {
    -webkit-transition: all 0.6s ease-in-out 5.1s;
    -moz-transition: all 0.6s ease-in-out 5.1s;
    transition: all 0.6s ease-in-out 5.1s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate17 {
    opacity: 0;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    transform: scale(0.01);
}

.animate-mirab18 {
    -webkit-transition: all 0.6s ease-in-out 5.4s;
    -moz-transition: all 0.6s ease-in-out 5.4s;
    transition: all 0.6s ease-in-out 5.4s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.mirab-animate18 {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}

.animate-str {
    -webkit-transition: all 0.6s ease-in-out 0.6s;
    -moz-transition: all 0.6s ease-in-out 0.6s;
    transition: all 0.6s ease-in-out 0.6s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.str-animate {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 50%, 0);
    -ms-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
}

.animate-str2 {
    -webkit-transition: all 0.6s ease-in-out 2.2s;
    -moz-transition: all 0.6s ease-in-out 2.2s;
    transition: all 0.6s ease-in-out 2.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.str-animate2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.animate-str3 {
    -webkit-transition: all 0.6s ease-in-out 3.5s;
    -moz-transition: all 0.6s ease-in-out 3.5s;
    transition: all 0.6s ease-in-out 3.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.str-animate3 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 50%, 0);
    -ms-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
}

.animate-str4 {
    -webkit-transition: all 0.6s ease-in-out 4.8s;
    -moz-transition: all 0.6s ease-in-out 4.8s;
    transition: all 0.6s ease-in-out 4.8s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.str-animate4 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}